$primary-red: #d52349
$primary-gray: #efefef

video
  position: fixed
  top: 50%
  left: 50%
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  //z-index: -100
    transform: translateX(-50%) translateY(-50%)
    background: url('/images/polina.jpg') no-repeat
    background-size: cover
    transition: 1s opacity
    opacity: 0.2


.myheader
  //background: url("/images/photo-1451187580459-43490279c0fa.jpg") no-repeat
  min-height: 100vh
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  //color: #efefef
  color: $primary-red
  padding: 3em 0em
  margin-bottom: 2em
  overflow-x: hidden
